.hover-underline {
  display: inline-block;
  position: relative;
  color: black;
}

.hover-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: -5px;
  left: 0;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
}
