.card-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 600px;
  position: relative;
  padding-bottom: 100px;
}

.card-text:last-child {
  padding-bottom: 0;
}
