.button {
  max-width: 140px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  transition: background-color 0.2s ease-out;
}

.button:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}
